body {
  background-image: url('../images/pagegradient.png');
  color: white;
}

span.copyright {
	font-size: 12px;
}

a {
	color: white;
}

a:hover {
	color: rgb( 180, 180, 200);
}

p {
  margin: 3.0px 0.0px 12.0px 0.25in; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.0px; 
}

p.body {
  margin: 3.0px 0.0px 3.0px 0.0px;
  width: 7.5in;
}

p.code {
  margin: 10.0px 0.0px 10.0px 0.25in;
  font-family: Courier; 
  font-size: 12.0px; 
  /* color: #308030 */
  color: #86ea86;
}

pre {
  margin: 10.0px 0.0px 10.0px 1.0in; 
  font-family: Courier; 
  font-size: 12.0px; 
  color: #86ea86;
}

div.xml {
  margin: 10.0px 0.0px 10.0px 1.0in; 
  font-family: Courier; 
  font-size: 12.0px; 
  color: #86ea86;
  white-space: pre;
}

div.menu {
  color: white;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  background-color: rgb( 100, 100, 100);
}

div.menuitem {
	cursor: default;
	color: white;
	margin: 0px 0px 5px 0px;
	padding: 2px 2px 2px 5px;
	text-align: left;
	border-width: 0px;
	border-radius: 5px;
	background-color: rgb( 100, 100, 100);
	/* background-image: url("../images/gradient_up.png"); */
}

div.menuitem > div.menuitem {
  padding-left: 10px;
  font-size: 10px;
}

div.menuitem:hover {
  background-color: rgb( 200, 200, 200);
  background-image: none;
}

div.menuitem.selected, div.menuitem2.selected {
  background-color: rgb( 200, 200, 200);
  background-image: none;
}

table.panes {
  margin: 5px;
  border-spacing: 5px;
}

td.toppane {
  padding: 5px;
  border-width: 0px;
  border-radius: 5px;
  background-color: rgb( 80, 80, 80);
}

td.leftpane {
  height: 600px;
  overflow: auto;
  width: 2in;
  padding: 5px;
  border-width: 0px;
  border-radius: 5px;
  border-spacing: 5px;
  background-color: rgb( 80, 80, 80);
}

td.rightpane {
  height: 600px;
  overflow: auto;
  padding: 5px;
  vertical-align: top;
  border-width: 0px;
  border-radius: 5px;
  background-color: rgb( 80, 80, 80);
}

td.rightpane h4 {
  padding: 5px;
  margin: 0px;
}

table.script table.xidget table.matrix {
  border-width: 0px;
  border-spacing: 0px;
  border-style: outset;
  border-color: gray;
  border-collapse: collapse;
  width: 6in;
}

table.script th {
	font-style: bold;
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: gray;
}

table.script td {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: gray;
}

table.xidget th {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: gray;
}

table.xidget td {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: gray;
}

table.download th {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: gray;
}

table.download td {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: gray;
}

table.matrix thead {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: gray;
}

table.matrix td:first-child {
  border-width: 1px;
  border-collapse: collapse;
  padding: 4px;
  border-style: solid;
  border-color: gray;
  text-align: right;
}

table.matrix td {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: gray;
  text-align: center;
}

table.matrix tr.odd {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: gray;
  text-align: center;
}

table.matrix tr.even {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: gray;
  text-align: center;
}
